:root {
    --gradient: linear-gradient(200deg,#e29eff,#adadad, #9cedff);
}

.gradient-animation {
    background-size: 400%;
    background-image: var(--gradient);
    animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}
