/* 

Add the Google Fonts you want, remove the ones you don't. 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

@import url("https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Montserrat+Alternates:wght@500;600;700;800;900&display=swap");

/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

@import url("make-something-fly.css");
@import url("animated-gradient.css");
@import url("text-stroke.css");
@import url("stroke-shadow.css");
@import url("scroll-to-top.css");
/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("../assets/temp/up-cursor.png"), auto !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables. Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  --body-typeface: "Glegoo", serif;
  --heading-typeface: "Montserrat Alternates", sans-serif;
  --project-title-typeface: "Montserrat Alternates", sans-serif;
  --background-color: #FEFAF3;
  --background-color-about: #ffffff;
  --background-color-footer: #ffffff;
  --alt-background-color: #000000;
  --background-color-holding-page: #ffffff;
  --h1-color: #1A272F;
  --h2-color: #1A272F;
  --h3-color: #1A272F;
  --h4-color: #dcd9d0;
  --h5-color: #1A272F;
  --h6-color: #ffffff;
  --primary-text-color: #1A272F;
  --holding-page-title-color: #1A272F;
  --accent-color: #8C83BA;
  --overlay-color: #1A272F;
  --overlay-title-color: #ffffff;
  --overlay-description-color: #ffffff;
  --hyperlink-color: #1A272F;
  --hyperlink-alternate-color: orangered;
  --hover-color: #8C83BA;
  --visited-color: #8C83BA;
  --project-title-color: #1A272F;
  --project-sidebar-background-color: transparent;
  --project-sidebar-text-color: #1A272F;
  --holding-page-footer-color: #f8f8ff;
  --text-selection-background-color: #8C83BA;
  --linear-gradient-color-1: #ff057c;
  --linear-gradient-color-2: #8d0b93;
  --linear-gradient-color-3: #242424;
  --stroke-shadow-color: rgba(0, 0, 0, 0.4);
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

::selection {
  background: var(--accent-color);
}

/* Make all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 1.25px;
  font-family: var(--heading-typeface);
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--h1-color);
}

h2 {
  font-size: 1rem;
  font-family: var(--heading-typeface);
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--h2-color);
}

h3 {
  font-size: .75rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-family: var(--heading-typeface);
  line-height: 1.3;
  color: var(--h3-color);
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--h4-color);
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--h5-color);
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--h6-color);
}

p {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

em {
  font-style: italic;
}

.hero-headline {
  color: var(--hover-color);
}

.project-title {
  font-size: 2.5rem;
  font-family: var(--project-title-typeface);
  color: var(--project-title-color);
  margin-bottom: 0.75rem;
  letter-spacing: 2px;
}

.project-type {
  font-size: 1.15rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  letter-spacing: 1.5px;
}

.project-description {
  letter-spacing: 1px;
  line-height: 1.5rem;
}

.overlay-title {
  font-size: 2.875rem;
  color: var(--overlay-title-color);
}

.overlay-description {
  color: var(--overlay-description-color);
}
.cls-1 {
  fill: #a1f7f4;
}
.cls-2 {
  fill: #5200ff;
}
/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:visited {
  color: var(--primary-text-color);
}

a:hover {
  color: var(--hover-color);
}

a:focus {
  outline: none;
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--accent-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.custom-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 42px;
  background-color: #ffffff;
  border: 2px solid #1A272F;
  box-shadow: -5px 5px #dcd9d0;
}

.custom-navigation-work {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 42px;
  background-color: #ffffff;
  border: 2px solid #1A272F;
  box-shadow: -5px 5px #dcd9d0;
}

.custom-navigation:hover {
  box-shadow: -5px 5px #8C83BA;
}

.custom-navigation-work:hover {
  box-shadow: -5px 5px #8C83BA;
}

.footer-nav-list {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
}

.footer-nav-item {
  line-height: 1.3;
}

.back-to-top {
  justify-content: center;
  display: flex;
  margin-bottom: 1rem;
  font-size: x-large;
}

.social-list {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: center;
}

.social-item {
  font-size: 2rem;
}

.custom-navigation-email {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem;
  width: auto;
  height: auto;
  background-color: #ffffff;
  border: 2px solid #1A272F;
  box-shadow: -5px 5px #dcd9d0;
}

.custom-navigation-email:hover {
  box-shadow: -5px 5px #8C83BA;
}

.footer-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2vw;
}

.list-item {
  line-height: 1.3;
  list-style-type: disc;
  margin-left: 1.2rem;
}


/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 78px;
  background-color:#ffffff;
}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
}

.logo {
  width: 6rem;
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.hero-icon {
  font-size: 2rem;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hero-name {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.hero-heading {display: block;}
.hero-name span.typed-text {
  font-weight: normal;
  color: #8C83BA;
}

.typed-text-wrapper {}
.hero-name span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.hero-name span.cursor.typing {
  animation: none;
}

#eCl2gNp0Mfh1 {fill: #1A272F;}
#eCl2gNp0Mfh1:hover {fill:#8C83BA;}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.arrow-to-work {
  width: 2.5rem;
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/
#work {
}

.work-wrapper {
  flex: 1;
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  padding: 6rem 2rem 2rem 2rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-row-gap: 10vw;
  grid-column-gap: 12px;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

.work-title-1 {
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 800;
  font-size: 3.25rem;
  text-shadow: -5px 5px #8C83BA;
  color: #1A272F;
  position: relative;
  top: 65%;
  left: 40%;
}

.work-page-grid-item-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
}
.work-page-grid-item-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
}
.work-page-grid-item-3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
}
.work-page-grid-item-4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
}
.work-page-grid-item-5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
}
.work-page-grid-item-6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
}
.work-page-grid-item-7 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
}
.work-page-grid-item-8 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 8;
}
.work-page-grid-item-9 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 9;
}
/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  background-color: var(--overlay-color);
  transition: opacity 0.3s, visibility 0.3s;
}

.work-page-grid-item:hover .overlay {
  visibility: visible;
  opacity: 0.8;
}

/* Scroll in fade test styles */

.tag {
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  background: var(--background-color-about);
  padding: 2rem;
  flex: 1;
}

.about-item-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.about-item-2 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.about-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.software-list {
  display: flex;
  justify-content: space-between;
}

.software-icon {
  width: 2.5rem;
}

.about-item-4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.global-footer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.footer-copyright {
font-size: x-small;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

/* Sidebar */
.project-aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  color: var(--project-sidebar-text-color);
  background: var(--project-sidebar-background-color);
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
}

.arrow {
  padding-top: 1rem;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.large-emoji-placeholder {
  font-size: 12rem; /* This is for making the placeholder emojis large and should be deleted */
}

.text-section {
  width: 100%;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}

/* Main Project Image Area */

.project-details {
  width: 100%;
}

/* 

██   ██  ██████  ██      ██████  ██ ███    ██  ██████  
██   ██ ██    ██ ██      ██   ██ ██ ████   ██ ██       
███████ ██    ██ ██      ██   ██ ██ ██ ██  ██ ██   ███ 
██   ██ ██    ██ ██      ██   ██ ██ ██  ██ ██ ██    ██ 
██   ██  ██████  ███████ ██████  ██ ██   ████  ██████  
                                                       
*/

.holding-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.holding-page-animation {
  margin-bottom: 2rem;
}

.holding-page-title {
  font-size: 1rem;
  color: var(--holding-page-title-color);
}

.holding-page-footer {
  display: grid;
  place-items: center;
  min-height: 10vh;
  width: 100%;
}

.holding-page-copyright {
  font-size: 0.8rem;
  color: var(--holding-page-footer-color);
  margin-bottom: 0;
}

/*
███████╗████████╗██╗   ██╗██╗     ███████╗     ██████╗ ██╗   ██╗██╗██████╗ ███████╗
██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝    ██╔════╝ ██║   ██║██║██╔══██╗██╔════╝
███████╗   ██║    ╚████╔╝ ██║     █████╗      ██║  ███╗██║   ██║██║██║  ██║█████╗  
╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝      ██║   ██║██║   ██║██║██║  ██║██╔══╝  
███████║   ██║      ██║   ███████╗███████╗    ╚██████╔╝╚██████╔╝██║██████╔╝███████╗
╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝     ╚═════╝  ╚═════╝ ╚═╝╚═════╝ ╚══════╝
 */

.style-guide-page-wrapper {
  padding: 3rem;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

.error-page {
  display: grid;
  place-items: center;
}

.error-page-inner-container {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.error-page-title {
  color: var(--accent-color);
}

/*

██████  ██       █████  ██    ██ 
██   ██ ██      ██   ██  ██  ██  
██████  ██      ███████   ████   
██      ██      ██   ██    ██    
██      ███████ ██   ██    ██    
*/

.play-page {
  display: grid;
  place-items: center;
}

.play-page-inner-container {
  text-align: center;
}

.play-page-title {
  color: var(--accent-color);
}

/*
███████ ██   ██ ██████  ███████ ██████  ██ ███    ███ ███████ ███    ██ ████████ ███████ 
██       ██ ██  ██   ██ ██      ██   ██ ██ ████  ████ ██      ████   ██    ██    ██      
█████     ███   ██████  █████   ██████  ██ ██ ████ ██ █████   ██ ██  ██    ██    ███████ 
██       ██ ██  ██      ██      ██   ██ ██ ██  ██  ██ ██      ██  ██ ██    ██         ██ 
███████ ██   ██ ██      ███████ ██   ██ ██ ██      ██ ███████ ██   ████    ██    ███████ 
*/

.experiments-page {
  display: grid;
  place-items: center;
}

.experiments-page-inner-container {
  text-align: center;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experiments-page-title {
  color: var(--accent-color);
  font-size: 2rem;
}

.experiment-1-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
}

.experiment-2-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sub-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
}

a.sub-navigation-link {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 1rem;
}

a.sub-navigation-link:hover {
  color: var(--accent-color);
  padding: 1rem;
}

/* Let's size the boxes */

.experiment-box {
  width: 50%;
  padding: 2rem;
  display: grid;
  place-items: center;
}

.image {
  width: 40%;
}

/* Let's hide box 2 */

.experiment-image-2 {
  display: none;
}

.experiment-image-single {
  width: 20rem;
  padding: 2rem;
  display: grid;
  place-items: center;
}

#heyday-logo-blue {
  animation: rotation 9s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

  .holding-page-title {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  .logo {
    width: 5.5rem;
  }

  .hero {
    min-height: 80vh;
  }

  .hero-headline-wrapper {
    padding: 4rem 8rem;
  }

  .hero-name {
    font-size: 3rem;
  }

  .hero-container {
    height: 90vh;
  }

  .arrow-to-work {
    width: 3.5rem;
  }

  /* Grayscale filter with full-colour on hover and tap */
  .work-page-grid-item a.grayscale img {
    filter: grayscale(100);
  }

  .work-page-grid-item > a.grayscale:active img,
  .work-page-grid-item > a.grayscale:hover img {
    filter: grayscale(0);
  }

  .about {
    padding: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .global-footer {
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .about-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .about-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .about-item-3 {
    grid-row: 2/2;
    grid-column: 2/3;
  }

  .about-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
    align-self: end;
  }

  /* Padding around work grid and project page */
  .portfolio,
  .project-wrapper {
    padding: 6rem 2rem;
  }

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    flex-direction: row;
  }

  /* Sidebar on Large Devices */
  .project-aside {
    width: 35%;
    height: 65vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
    padding-right: 2rem;
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 65%;
  }

  .project-image-container {
    flex-direction: row;
  }

  .project-navigation {
    justify-content: space-between;
  }

  .arrow {
    padding-right: 1rem;
  }

  .footer-copyright {
    font-size: small;
    }
}

/* Only add styles below to make very minor adjustments for extra or extra-extra large devices */

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  body {
    background: #FEFAF3;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1600px) {
  body {
    background: #FEFAF3;
  }
}
